node_modules/
supabase/.temp/
**/supabase/.temp/
.supabase-local/
supabase/.branches/
**/node_modules/

dist/
**/dist/
build/
.next/
out/
.vercel/

.env
.env.*
!.env.example
!.env.*.example

.DS_Store
*.log
*.tsbuildinfo

coverage/
tmp/
temp/
.turbo/
.cache/

# Local Netlify folder
.netlify
